Repository NasPilot/asuswrt-merlin-nginxui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, shellcheck

feat: improve release workflow following XrayUI pattern
  .github/workflows/build-n-release.yml
  CHANGELOG.md
Due: prettier --write

chore: remove unused .github/README.md
  .github/README.md
Due: prettier --write

Add scripts directory with install.sh
  scripts/install.sh
Due: shellcheck

feat: 基于 XrayUI 最佳实践全面优化 NginxUI
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  build.tar.sh
  index.html
  package-lock.json
  package.json
  scripts/install.sh
  src/backend/_helper.sh
  src/backend/config.sh
  src/backend/firewall-start
  src/backend/install.sh
  src/backend/mount.sh
  src/backend/nginxui.cron
  src/backend/nginxui.logrotate
  src/backend/nginxui.sh
  src/backend/post-mount
  src/backend/service.sh
  src/backend/services-start
  src/backend/webapp.sh
  src/demo.html
  src/main.ts
  src/router/index.ts
  src/views/Config.vue
  src/views/Dashboard.vue
  src/views/Logs.vue
  src/views/Settings.vue
  src/views/Status.vue
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix, shellcheck

deploy: 8513c9e192004fd6f3669ea1e98e79740cd7d81e
  .nojekyll
  index.html
Due: none

fix: 添加缺失的 SCSS 变量文件以修复构建失败
  src/styles/variables.scss
Due: prettier --write, stylelint --fix

Update project files and add new configuration files
  README.md
  REFACTOR_PLAN.md
  config.json
  dev.sh
  install.sh
  package.json
  src/backend/_helper.sh
  src/backend/nginxui.sh
  sync.sh
  vite.config.ts
Due: eslint --fix, prettier --write, shellcheck

deploy: a7fda713ff23cd6b7d31ae96d3c43e3361c073d5
  .nojekyll
  index.html
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.{css,scss,vue})) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: any of: *.{css,scss,vue}
  shellcheck: any of: *.sh
